body {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #9C0;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #CC9;
	text-decoration: none;	
	
}
a:link, a:visited {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #CC9;
	text-decoration: none;
	display:block;
	
}
a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #CC9;
	text-decoration: none;
	display:block;
}

.o #container {
	width: 780px; 
	background: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	
}
.o #mainContent {
	padding: 0 20px; 
}